<style>
    body {
      font-family: 'Arial', sans-serif;
  }

  .register_register_container {
      max-width: 400px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #registrationForm {
      display: flex;
      flex-direction: column;
  }

  label {
      margin-bottom: 8px;
  }

  input {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  .submit_btn {
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .submit_btn:hover {
      background-color: #2980b9;
  }
  .form_label{

      display=flex: ;
      display: flex;
      align-items: center;
      justify-content: space-between;

  }
  .submit_btn{

      width: 100%;
  }
  .errors ul{
    list-style: none;
    color:red;
    padding-left: 0px;
  }
</style>

<div class="container register_register_container">
  <h2 class="text-center mb-5">Customer Register</h2>
  {% form 'create_customer' %}
    {{ form.errors | default_errors }}

    <div class="first-name form_label">
      <label for="first-name">First name</label>
      <input type="text" name="customer[first_name]">
    </div>

    <div class="last-name form_label">
      <label for="last-name">Last name</label>
      <input type="text" name="customer[last_name]">
    </div>

    <div class="email form_label">
      <label for="email">Email</label>
      <input type="email" name="customer[email]">
    </div>

    <div class="password form_label">
      <label for="password">Password</label>
      <input type="password" name="customer[password]">
    </div>

    <div class="submit">
      <input class="submit_btn" type="submit" value="Create Account">
    </div>

    <p>Already have an account? <a style="text-decoration:none" href="{{ routes.account_login_url }}">Login</a></p>
  {% endform %}
</div>
