{%- liquid
  assign blogs = section.settings.blog
-%}
<section class="s1308_all_items_section s1308_universl">
  <div class="s1308_container">
    <div class="s1308_all_items_area">
      <!-- s1308_all_items_top -->
      <div class="s1308_all_items_top">
        <div class="s1308_all_items_top_wrapper">
          <div class="s1308_all_items_title_wrapper">
            <p class="s1308_all_items_title">{{ blogs.title }}</p>
          </div>
        </div>
      </div>
      <!-- s1308_all_items_bottom -->
      <div class="s1308_all_items_bottom">
        <!-- s1308_all_products -->
        <div class="s1308_all_products">
          <!-- s1308_single_product -->
          {% for blog in blogs.articles %}
            {% render 'blog-content-template', blog: blog %}
          {% endfor %}
        </div>
        <!-- s1308_all_items_btn_wrapper -->
        <div class="s1308_all_items_btn_wrapper">
          <a style="text-decoration: none;" href="{{ blogs.url }}"
            ><button type="button" class="s1308_all_items_btn s1308_common_btn">View All</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog",
  "class": "blogs_section_wrapper",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Blogs Post",
      "blocks": [],
      "settings": {}
    }
  ]
}
{% endschema %}
