{% liquid
  assign collectionLists = section.settings.collection_list
%}
<section class="s1306_home_top_categories_section s1306_universl">
  <div class="s1306_container">
    <div class="s1306_top_categories_area">
      <!-- s1306_categories_top -->
      <div class="s1306_categories_top">
        <div class="s1306_common_title_wrapper">
          <p class="s1306_common_title">{{ section.settings.title }}</p>
        </div>
      </div>
      <!-- s1306_category_products_area -->
      <div class="s1306_category_products_area">
        <div class="s1306_category_all_product">
          <!-- s1306_single_product -->
          {% if collectionlist != empty %}
            {% for collectionList in collectionLists %}
              <a href="{{ collectionList.url }}">
                <div class="s1306_single_product">
                <div class="s1306_product_top">
                  <div class="s1306_product_img_wrapper">
                    <div class="s1306_product_img">
                      <img src="{{ collectionList.featured_image |  img_url: 'medium' }}" alt="category_item">
                    </div>
                  </div>
                  <div class="s1306_product_content_wrapper">
                    <div class="s1306_product_name_wrapper">
                      <p class="s1306_product_name">{{ collectionList.title }}</p>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            {% endfor %}
          {%- else -%}
            <h3 class="text-center mt-4">Please Select atlist One Collection</h3>
          {% endif %}
        </div>
        <div class="s1306_view_all_btn_wrapper">
          <button type="button" class="s1306_view_all_btn s1306_common_btn">View All</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Featured Collection",
  "class": "featured_collection",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 8
    },
    {
      "type": "text",
      "id": "title",
      "label": "Write collection list title",
      "default": "Collection List"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Collection",
      "blocks": [],
      "settings": {
        "title": "Collection List"
      }
    }
  ]
}
{% endschema %}
