.header_inner_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_item_List_wrapper,
.header_menu_wrapper {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.submenu_wrapper {
	display: none;
	flex-direction: column;
	gap: 6px;
	position: absolute;
	transition: all 0.3s linear;
	width: 205px;
	padding: 10px 10px;
	background: burlywood;
}

.header_icon_list,
.menu_item,.sub_menu{
    list-style: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
}
.menu_item:hover .submenu_wrapper{
    display: flex;
}

.header_inner_content_wrapper {
    background-color: rgb(247, 247, 247);
    padding: 15px 0px;
}

.header_icon_list_wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

svg {
    display: flex;
}
.search_field{
    outline: none;
    padding: 5px 5px;
    width: 400px;
}
.header_menu_area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.search_input_box_wrapper{
    display: flex;
    align-items: center;
}
.search_icon {
	background-color: rgb(131, 129, 129);
	padding: 6px 10px;
    cursor: pointer;
    color: white;
}