@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root {
    --primaryColor: #000;
    --secondaryColor: #fff;
    --themeFont: "Outfit";
}

.s1308_universl * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--themeFont);
}

.s1308_container {
    max-width: 1360px;
    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
}

body {
    margin: 0;
}

.s1308_common_btn {
    font-size: 12px;
    font-weight: 500;
    color: #1E272E;
    background-color: transparent;
    border: 1px solid rgba(30, 39, 46, .3);
    padding: 7px 20px;
    outline: none;
    display: block;
    cursor: pointer;
    overflow: hidden;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 3;
}

.s1308_all_items_section {
    background-color: var(--secondaryColor);
}

.s1308_all_items_area {
    padding-top: 35px;
    padding-bottom: 85px;
}

/* ============ s1308_all_items_top ============ */

.s1308_all_items_top_wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.s1308_all_items_title {
    font-size: 20px;
    font-weight: 600;
    color: var(--primaryColor);
}

/* ================= s1308_all_items_bottom ================== */

.s1308_all_products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 25px;
}

.s1308_single_product,
.s1308_single_product_bottom_content,
.s1308_price_box_hidden,
.s1308_price_box_hidden_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

/* s1308_single_product_top */
.s1308_single_product_top {
    position: relative;
    overflow: hidden;
    /* background-color: rgba(127,77,79,.03); */
}

.s1308_single_product_top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    visibility: hidden;
    opacity: 0;
    transition: .1s ease-in-out;
}

.s1308_product_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1308_product_img_wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.s1308_wishlist_and_cart_icon_wrapper {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 2;
}

.s1308_wishlist_icon,
.s1308_cart_icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    cursor: pointer;
}

.s1308_wishlist_icon svg,
.s1308_cart_icon svg {
    width: 100%;
}

.s1308_active_wishlist svg path {
    fill: var(--secondaryColor);
}

/* s1308_single_product_bottom */

.s1308_product_name,
.s1308_product_price {
    font-size: 12px;
    font-weight: 500;
    color: var(--primaryColor);
}

.s1308_product_rating_wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.s1308_product_rating {
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1308_product_price_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.s1308_product_price {
    color: rgba(0, 0, 0, .5);
}

.s1308_product_present_price {
    color: var(--primaryColor);
}

/* s1308_all_items_btn_wrapper */
.s1308_all_items_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

@media screen and (min-width:640px) {
    .s1308_all_items_area {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    /* ============ s1308_all_items_top ============ */

    .s1308_all_items_title {
        font-size: 24px;
    }

    /* ================= s1308_all_items_bottom ================== */

    .s1308_all_products {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 35px;
    }

    .s1308_single_product,
    .s1308_single_product_bottom_content,
    .s1308_price_box_hidden,
    .s1308_price_box_hidden_wrapper {
        gap: 9px;
    }

    /* s1308_single_product_top */

    .s1308_wishlist_icon,
    .s1308_cart_icon {
        width: 25px;
        height: 25px;
        transition: .3s;
    }

    /* s1308_single_product_bottom */

    .s1308_product_name,
    .s1308_product_price,
    .s1308_all_items_btn {
        font-size: 14px;
    }

    .s1308_all_items_btn_wrapper {
        margin-top: 40px;
    }

    .s1308_all_items_btn {
        padding: 8px 25px
    }


}

@media screen and (min-width:1025px) {
    .s1308_all_items_area {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    /* ============ s1308_all_items_top ============ */

    .s1308_all_items_title {
        font-size: 28px;
    }

    /* ================= s1308_all_items_bottom ================== */

    .s1308_all_items_bottom {
        transition: .3s;
    }

    .s1308_all_products {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 40px;
    }

    .s1308_wishlist_and_cart_icon_wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        visibility: hidden;
        opacity: 0;
    }

    .s1308_active_wishlist svg path {
        fill: var(--primaryColor);
    }

    .s1308_price_box_hidden_wrapper {
        flex-direction: row;
    }

    /* ============= :HOVER EFFECT =============; */

    .s1308_single_product:hover .s1308_single_product_top::after {
        visibility: visible;
        opacity: 1;
    }

    .s1308_single_product:hover .s1308_wishlist_and_cart_icon_wrapper {
        visibility: visible;
        opacity: 1;
    }

    .s1308_wishlist_icon:hover,
    .s1308_cart_icon:hover {
        background-color: var(--secondaryColor);
    }

    .s1308_wishlist_icon:hover svg path,
    .s1308_cart_icon:hover svg path {
        stroke: var(--primaryColor);
    }

    .s1308_product_rating_wrapper {
        transform: translateY(-200%);
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    .s1308_single_product:hover .s1308_product_rating_wrapper {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }

    /* s1308_all_items_btn_wrapper */
    .s1308_all_items_btn_wrapper {
        margin-top: 50px;
    }

    .s1308_all_items_btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 100%;
        background-color: var(--primaryColor);
        z-index: -1;
        transition: .3s ease-in-out;
    }

    .s1308_all_items_btn:hover:after {
        width: 100%;
    }

    .s1308_all_items_btn:hover {
        color: var(--secondaryColor);
    }
}

@media screen and (min-width:1367px) {
    .s1308_all_products {
        grid-template-columns: repeat(5, 1fr);
    }

}