<h2 class="text-center py-4 mb-5 bg-dark text-light">Your Cart</h2>
<div class="container cart_main_container" data-money-format="{{ shop.money_format }}">
  <div class="cart_heading">
    {% if cart.empty? %}
      <div class="cart_empty_content text-center">
        <h3>Your cart is empty.</h3><br>
        <a class="btn btn-primary text-center" href="{{ routes.root_url  }}">Keep Shopping</a>
      </div>
    {% endif %}

    {%- unless cart.empty? -%}
      <div class="cart_item_table_wrapper pb-5">
        {%- render 'cart_item', items: cart.items -%}
      </div>
    {%- endunless -%}
  </div>
</div>
